{% extends "auth_base.html" %}
{% load static %}
{% load avatar_tags %}
{% load breadcrumb %}


{% block content %}

<div class='row'>
    <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>
    {% breadcrumb breadcrumb request %}
    </div>
</div>

<div class="panel panel-default" style="margin-top: 30px;">
	<div class="panel-body">

		<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
			<div style="padding-left:5%;">
				<h2 style="margin-bottom: 40px;">{% avatar user 28 %}&nbsp;{{user.username}}<small>&nbsp;,&nbsp;欢迎回来!</small></h2>
				<p>
					<small>您已经加入了</small> &nbsp;&nbsp;<span class="glyphicon glyphicon-thumbs-up"></span>
					<strong style="color:#5CB85C;">{{ user.date_joined|timesince }}</strong> &nbsp;,
					<small>常回来看看哦</small>
				</p>
				<p>
					<small>更多头像：</small>
					<small class="text-right text-success"><a target="_blank" href="#">我要换头像</a></small>
				</p>
			</div>
		</div>

		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
			<img src="/static/img/coffee.jpg" alt="" class="img-responsive">
		</div>
		
	</div>

	<div class="panel-footer">
		<div class="alert alert-dismissable" style="padding-top:0px;padding-bottom:0px; margin-bottom:0px;">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<p><strong>最后登入:</strong> {{ user.last_login }}</p>
			<p><small>如非本人操作,请尽快&nbsp;&nbsp;<a href="{% url account.views.change_password %}">修改密码</a></small></p>
		</div>
	</div>
</div>

{% endblock %}
